<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日報管理システム</title>
<link rel="stylesheet" th:href="@{/css/employee/detail.css}">
</head>
<body th:object="${employee}">
     <header>
        <ul>
            <li><a th:href="@{/employee/list}" th:text="日報管理システム"></a></li>
            <li><a href="" th:text="従業員管理"></a></li>
            <li><a href="" th:text="日報管理"></a></li>
            <li th:text="${employee.name} + ' さん'"></li>
            <li><a href="" th:text="ログアウト"></a></li>
        </ul>
    </header>

    <h1 th:text="'id:' + ${employee.id} + 'の従業員情報　詳細ページ'"></h1>
    <table>
        <tr>
            <td>社員番号</td>
            <td th:text="${employee.authentication.code}"></td>
        </tr>
        <tr>
            <td>氏名</td>
            <td th:text="${employee.name}"></td>
        </tr>
        <tr>
            <td>権限</td>
            <td th:text="${employee.authentication.role}"></td>
        </tr>
        <tr>
            <td>登録日時</td>
            <td th:text="${#temporals.format(employee.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>更新日時</td>
            <td th:text="${#temporals.format(employee.updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
        </tr>
    </table>

    <div><a th:href="@{/employee/update/{id}/(id=${employee.id})}">この従業員情報を更新する</a></div>

    <div><a th:href="@{/employee/list}">一覧に戻る</a></div>
</body>
</html>