<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日報管理システム</title>
<link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<body>
    <header>
        <ul>
            <li><a th:href="@{/employee/list}" th:text="日報管理システム"></a></li>
            <li><a href="" th:text="従業員管理"></a></li>
            <li><a href="" th:text="日報管理"></a></li>
            <li th:text="${username} + ' さん'"></li>
            <li><a th:href="@{/login}" th:text="ログアウト"></a></li>
        </ul>
    </header>

    <h1>従業員 一覧</h1>
    <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
        <tr th:each="list: ${employeelist}">
            <td th:text="${list.authentication.code}"></td>
            <td th:text="${list.name}"></td>
            <td><a th:href="@{/employee/detail/{id}/(id=${list.id})}">詳細を見る</a></td>
        </tr>
    </table>

    <p> (全 <span th:text=${#lists.size(employeelist)}></span> 件）</p>

    <div><a th:href="@{/employee/register}">新規従業員の登録</a></div>
</body>
</html>