<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>従業員新規登録ページ</title>
<link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <header>
        <ul>
            <li><a th:href="@{/employee/list}" th:text="日報管理システム"></a></li>
            <li><a href="" th:text="従業員管理"></a></li>
            <li><a href="" th:text="日報管理"></a></li>
            <li th:text="${username} + ' さん'"></li>
            <li><a th:href="@{/login}" th:text="ログアウト"></a></li>
        </ul>
    </header>

    <h1>従業員　新規登録ページ</h1>

    <form method="post" th:action="@{/employee/register}">
       <label for="code">社員番号</label>
       <input type="text" th:field="${employee.authentication.code}" required autocomplete="off">
       <span th:if="${employee.authentication.code != null}" class="err">その社員番号は存在しています</span>

       <label for="name">氏名</label>
       <input type="text" th:field="${employee.name}" required autocomplete="off">

        <label for="pass">パスワード</label>
        <input type="password" th:field="${employee.authentication.password}" required>

        <label for="role">権限</label>
        <select th:field="${employee.authentication.role}" required>
            <option value="" th:text="選択してください"></option>
            <option th:each="item :${T(com.techacademy.entity.Authentication.Role).values()}"
                    th:value="${item}" th:text="${item}">
            </option>
        </select>
        <br>

        <input type="submit" value="投稿">
        <br>

        <a th:href="@{/employee/list}">一覧に戻る</a>
    </form>
</body>
</html>