<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日報管理システム　ログイン</title>
<link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>
    <h1>日報管理システム</h1>
    <h2>ログイン</h2>

    <p class="err" th:if="${param.error}">ユーザ名かパスワードが一致しませんでした。</p>
    <form method="post" action="/login" th:action="@{/login}">

            <label for="loginuser">社員番号</label>
            <input type="text" id="username" name="username" value="ktaro">

            <label for="password">パスワード</label>
            <input type="text" id="password" name="password" value="ktaro">

            <br>
            <input type="submit" name="loginRun" value="ログイン">
    </form>
</body>
</html>