<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日報管理システム　トップページ</title>
<link rel="stylesheet" th:href="@{css/topPage.css}">
</head>
<body>
    <header>
        <ul>
            <li><a th:href="@{/employee/list}" th:text="日報管理システム"></a></li>
            <li><a href="" th:text="従業員管理"></a></li>
            <li><a href="" th:text="日報管理"></a></li>
            <li th:text="${username} + ' さん'"></li>
            <li><a th:href="@{/login}" th:text="ログアウト"></a></li>
        </ul>
    </header>
</body>
</html>