@charset "UTF-8";


header {
    background-color: #333;
}

h1 {
    color: #fff;
    margin: 0;
    padding: 0;
}


h2 {
    font-weight: normal;
    font-size: 32px;
}

table {
    border-collapse: collapse;
    width: 600px;
}

th, td {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
}