@charset "UTF-8";

header {
    background-color: #333;
}

h1 {
    color: #fff;
    margin: 0;
    padding: 0;
}


h2 {
    font-weight: normal;
    font-size: 32px;
}

form {
    width: 100%;
}

label {
    display: block;
    line-height: 150%;
}

input[type="text"],
input[type="password"] {
    padding: 5px 10px;
    width: 200px;
}

